language: node_js
node_js:
  - "6.2"
sudo: false
cache:
  directories:
    - node_modules
before_install:
  # Remove all non-test dependencies
  - "npm rm --save-dev connect-redis"

  # Update Node.js modules
  - "test ! -d node_modules || npm prune"
  - "test ! -d node_modules || npm rebuild"
