doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/reset.css')
    //- // CSS reset
    link(rel='stylesheet', href='css/style.css')
    //- // Resource style
    script(src='js/modernizr.js')
    //- // Modernizr
    title Nudnik | ExpressJS

  body
    header.cd-header
      a.cd-logo(href='#0')
        img(src='img/cd-logo.svg', alt='Logo')
      a.cd-3d-nav-trigger(href='#0')
        | Menu
        span
    //- // .cd-header
    main
      h1 Using ExpressJS
      //- // all your content here
    nav.cd-3d-nav-container
      ul.cd-3d-nav
        li.cd-selected
          a(href='#0') Dashboard
        li
          a(href='#0') Projects
        li
          a(href='#0') Images
        li
          a(href='#0') Settings
        li
          a(href='#0') New


      //- // .cd-3d-nav
      span.cd-marker.color-1
    //- // .cd-3d-nav-container
    script(src='js/jquery-2.1.1.js')
    script(src='js/main.js')
    //- // Resource jQuery
